hardware/*
!hardware/build/
hardware/build/*
!hardware/build/.gitkeep
!hardware/bd/
!hardware/export/
!hardware/constraint/
!hardware/flight-controller-hw.tcl

**/build/*/
!**/build/*/

**/build/*/*
!**/build/*/*.xpr

software/*
!software/flight-controller-c/
software/flight-controller-c/*
!software/flight-controller-c/src/


csv/

Packages/

# KiCAD
zybo-top-pcb/*-backups
zybo-top-pcb/~*
zybo-top-pcb/_autosave*
zybo-top-pcb/fp-info-cache
zybo-top-pcb/*gerbers
zybo-top-pcb/*gerbers.zip